.custom-title {
  margin-left: 6.5rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.custom-sub-title {
  margin-left: 6.5rem;
  margin-bottom: 1rem;
  margin-right: 15%;
}

.custom-btn-position {
  margin-left: 6.5rem;
}

.owl-carousel .owl-nav button.owl-next {
  margin-left: 1rem !important;
}
.owl-carousel .owl-nav button.owl-prev {
  margin-right: 1rem !important;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: transparent;
}

.accordion-button {
  background-color: white;
  border: 1px solid #d4d4d4 !important;
}
.accordion-button:not(.collapsed) {
  border: 2px solid #d4d4d4;
  background-color: white;
  color: black;
}
